* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #333;
    font-family: 'Overpass', sans-serif;
}

header {
    text-align: center;
    background-color: #d85c4b;
    top: 0px;
    left: 0px;
    width: 100%; 
    color: #f2f2f2;
    padding-top: .5rem;
    font-size: 1.728em;
}

#playr-head{
    position: fixed;
}

h3#songTitle{
    text-align: center;
    color: #f2f2f2;
    font-size: 1.44em;
}

h3#songArtist{
    text-align: center;
    color: #d85c4b;
    font-size: 1.2em;
    padding-bottom: 1rem;
}

.button {
    margin-left: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    padding-bottom: .5rem;
    padding-top: .7rem;
    float: left;
    background: none;
    border: none;
    color: #f2f2f2;
}

.fa-chevron-left{
    font-size: 1.728em;
}

.music-list{
    margin: auto;
    width: 100%;
}

.song{
    border-top: 1px solid #111111;
    display: grid;
    grid-template-areas: "a b"
                        "a c";
    grid-template-columns: 1fr 2fr;
}

.song:first-child{
    border-top: none;
}

.song-img {
    grid-area: a;
    height: 5rem;
    width: 7rem;
    margin: 0.5rem;
    border-radius: 5px;
}

#songImg{
    height: auto;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 30px #111;
    border-radius: 5px;
}

p{
    display: inline-block;
    overflow: hidden;
}

#buttons{
    text-align: center;
}

#play-btn, #pause-btn, #ff-btn, #rew-btn{
    background: none;
    border: none;
    color: #d85c4b;
    font-size: 2rem;
}

#pause-btn{
    padding-left: 4px;
    font-size: 3.588em;
}

#play-btn{
    padding-right: 4.1px;
    font-size: 3.588em;
}

#ff-btn{
    padding-left: 1rem;
    padding-bottom: 1rem;
}

#rew-btn{
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.artist {
    color: #d85c4b;
    grid-area: c;
    font-size: 1.2em;
}

.song-title {
    color: #f2f2f2;
    grid-area: b;
    padding-top: 1rem;
    font-size: 1.44em;
}

.page {
    display: none;
}

.active {
    display: block;
}

.control{
    display: none;
}

.active-controls{
    display: block;
}